server:
  port: ${PORT:8080}
spring:
  jpa:
    properties:
      show-sql: true
      database-platform: org.hibernate.dialect.PostgreSQL95Dialect
    hibernate:
      ddl-auto: none
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: pass
  liquibase:
    enabled: false